.container {
  width: 100%;
  height: auto;
  gap: 2%;
  display: flex;
}

.container1 {
  width: 70%;
  border-radius: 10px;
  height: auto;
  background-color: white;
}

.container2 {
  width: 28%;
  height: 300px;
  border-radius: 10px;
  background-color: white;
}

.quantityDropdown {
  border: none;
  background-color: rgb(242, 239, 255);
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 13px;
  width: 110px;
}
.container2 div:nth-child(1) {
  width: 100%;
  height: auto;
  text-align: start;
}
.container2 div:nth-child(2) {
  height: 85%;
  width: 100%;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .container1,
  .container2 {
    width: 100%;
    margin-bottom: 10px;
  }
}
